* {
    padding: 0;
    margin: 0;
}

html,
body {
	height: 100%;
    font-family: $bodyFont;
    font-size: $bfSize;
	font-weight: $fontWeight;
	line-height: $bLineHeight;
	color: $bColor;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #eee;
}

main {
    padding-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: $titleFont;
	font-weight: 700;
}

iframe {
	border: none;
}

a,
b,
div,
ul,
li {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-moz-outline-: none;
}

input,
input:hover,
input:focus,
input:active,
textarea,
textarea:hover,
textarea:focus,
textarea:active,
select:focus,
select:hover {
    -moz-outline: none;
    outline: none;
    box-shadow: none;
}

img:not([draggable]),
embed,
object,
video {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	outline: 0;
}

a:active,
a:focus,
a:hover,
a:visited {
	text-decoration: none;
	outline: 0;	
}

:focus {
    outline: none ;
}

img {
	border: none;
	max-width: 100%;
    height: auto;
}

button:focus {
    -moz-outline: none;
    outline: none;
    box-shadow: none;
}

.btn.focus, .btn:focus{
	border: 1px solid transparent;
}

.form-control:focus,
.btn.focus, .btn:focus {
    color: inherit;
    background-color: $white;
    outline: 0;
    box-shadow: none;
}

a:focus {
    outline:0px solid;
}

.fix {
    overflow:hidden;
}

p {
    margin:0 0 24px;
}

a {
    text-decoration:none;
}

a:hover {
  color: $primary-color;
  text-decoration: none;
}

a:active, a:hover {
  outline: 0 none;
  color: $hover-color;
}

ul{
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

::-moz-selection {
    background: $primary-color;
    text-shadow: none;
}

::selection {
    background: $primary-color;
    text-shadow: none;
    color: $white;
}

.white-center,
.container {
    max-width: 768px;
    margin: 0 auto;
    padding-left: 94px;
    padding-right: 94px;
    background-color: $white;
    box-sizing: border-box;
}

.img-fluid {
    width: 100%;
    max-width: 100%;
}

.h-100 {
    height: 100% !important;
}

.pt-50 {
    padding-top: 50px;

    @media (max-width: 575px) {
        padding-top: 38px;
    }
}

.pb-0 {
    padding-bottom: 0;
}

.text-center {
    text-align: center;
}

.text-green {
    color: $color-green;
}

.text-blue {
    color: $color-blue;
}

.text-orange {
    color: $color-orange;
}

.text-red {
    color: $color-red;
}

.text-blue-light {
    color: $color-blue-light;
}

.bg-green {
    background-color: $color-green;
}

.bg-blue {
    background-color: $color-blue;
}

.bg-orange {
    background-color: $color-orange;
}

.bg-red {
    background-color: $color-red;
}

.bg-blue-light {
    background-color: $color-blue-light;
}

.bg-red-light {
    background-color: $color-red-light;
}

.btn {
    display: inline-block;
    width: 145px;
    height: 53px;
    border-radius: 6px;
    text-align: center;
    line-height: 53px;
    font-size: 22px;
    font-weight: 600;
    color: $white;
    transition: $transition;

    &:hover {
        color: $white;
        opacity: .9;
    }

    @media (max-width: 575px) {
        width: 78px;
        height: 32px;
        line-height: 32px;
        font-size: 12px;
    }
}

.btn-white {
    position: relative;
    display: inline-block;
    width: 175px;
    height: 125px;
    background-color: $white;
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    margin: 0 20px;
    
    i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 65px;
        color: $primary-color;
    }

    @media (max-width: 575px) {
        width: 108px;
        height: 77px;
        margin: 0 15px;
        border-radius: 15px;

        i {
            font-size: 42px;
        }
    }
}

.page-title-1 {
    h1 {
        font-size: 48px;
        line-height: 58px;
        font-weight: 600;
        padding-bottom: 8px;

        span {
            font-weight: 700;
            color: $color-two;
        }
    }

    h3 {
        font-size: 28px;
        line-height: 38px;
        padding-bottom: 25px;
    }

    @media (max-width: 575px) {
        h1 {
            font-size: 30px;
            line-height: 40px;
        }

        h3 {
            font-size: 16px;
            line-height: 26px;
        }
    }
}

.page-title-2 {
    h1 {
        font-size: 68px;
        line-height: 78px;
        padding-bottom: 32px;
        font-weight: 700;
        text-align: center;
    }

    @media (max-width: 575px) {
        h1 {
            font-size: 42px;
            line-height: 52px;
            padding-bottom: 22px;
        }
    }
}

.page-title-3 {
    h1 {
        font-size: 40px;
        font-weight: 300;
        line-height: 50px;
        display: flex;
        align-items: center;
        letter-spacing: .8px;
        padding-bottom: 55px;

        i {
            display: block;
            line-height: 0;
            font-size: 30px;
            padding-left: 15px;
        }

        &.text-center {
            justify-content: center;
        }
    }

    @media (max-width: 575px) {
        h1 {
            padding-bottom: 35px;
            font-size: 30px;
        }
    }
}
