@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
// Color;
$primary-color: #F7B267;
$color-two: #8989FF;
$hover-color : #8989FF;
$bColor: #020202;
$white : #ffffff;
$black : #000000;

$btn-blue: #6464B4;
$btn-orange: #FFB96D;

$bgOne: #FAFAFA;
$bgTwo: #F7F7F7;
$border-color: #DADADA;

$color-green: #0EBC54;
$color-blue: #6464B4;
$color-blue-light: #8D8DF6;
$color-orange: #FFB96D;
$color-red: #DB544D;
$color-red-light: #F4845F;


// Body;
$bodyFont: 'Poppins', sans-serif;
$titleFont: 'Poppins', sans-serif;
$bfSize: 16px;
$bLineHeight: 26px;
$fontWeight: 400;
$transition: all .3s ease;
